{# empty Twig template #}
{% import "form.macro.twig" as forms %}


<h1>{{ item.title }}</h1>

<div class="business-posted-date">
    <i class="fa fa-clock-o"></i> Posted:  {{ item.date_created|date('d M Y H:i') }} &nbsp;&nbsp;
</div>

<div>

    <div class="form-group">
        <label>Answer</label><br>
        {{ item.answer }}
    </div>

</div>

<div> 
    <div class="clr"></div>
    <div class="well well-sm">Other Questions in Same Category</div>
    <hr>
    <div class="category-faqs-listing">
        {% include "faq.list.twig" ignore missing with {'category_id': item.category_id, 'action': 'featured'}  %}
    </div>
    <div class="clr"></div>
    <br>
</div>
