
{{ set_assets('applications/Faqs/Addons/Faqs/assets/css/style.css') }}


<div class="block-faqs">

    {% if faqs|length > 0 %}
        <ul class="list-unstyled check-style">
            {% for faq in faqs %}
                {% set faq_url =  generate_url('faqs.faqs.detail', {'id': faq.id}) %}
                <li>
                    <i class="fa fa-angle-right color-green"></i> 
                    <a href="{{ faq_url }}">
                        {{ faq.title  }}
                    </a>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        No Latest Faqs
    {% endif %}
</div>

<div class="headline">
    <h3>Business Hour</h3>
</div>

<ul class="list-unstyled margin-bottom-30">
    <li><strong>Monday-Friday:</strong> 8am to 6pm</li>
    <li><strong>Saturday:</strong> 8am to 3pm</li>
    <li><strong>Sunday:</strong> Closed</li>
</ul>